
<h1 style="font-size: 60px;">{{title}}</h1>
<form action style="margin-top: 30px;">
<span>
  Numero 1: <input type="number" [(ngModel)] = "numero1" name="numero1" class="form-control"style="width: 80px; display: inline; margin-left: 5px; margin-right: 20px;">
  Numero 2: <input type="number"[(ngModel)] = "numero2" name = "numero2"class="form-control" style="width: 80px;display: inline; margin-left: 5px; margin-bottom:25px"><br>
</span>
  <input type="submit" value="Sumar" (click)="sumar()" style="margin-left: 5px;"class="btn btn-outline-primary">
  <input type="submit" value="Restar" (click)="restar()"style="margin-left: 5px;" class="btn btn-outline-primary">
  <input type="submit" value="Multiplicar" (click)="multiplicar()"style="margin-left: 5px;"class="btn btn-outline-primary">
  <input type="submit" value="dividir" (click)="dividir()"style="margin-left: 5px;"class="btn btn-outline-primary">

</form>

<p class="display-6">Resultado: {{resultado}}</p>